.hero{
    position: relative;
}
.banner-img{
    width: 100%;
    mask-image:linear-gradient(to right ,transparent,black 75%) ;
    -webkit-mask-image:linear-gradient(to right ,transparent,black 75%) ;
    
}
.caption{
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom:0;

}
.title{
    position: absolute;
    max-width: 90%;
    padding-left: 6%;
    padding-bottom: 14%;
    bottom: 0;
   
}

 .caption p{
    position: relative;
    max-width: 700px;
    font-size: 17px;
    margin-bottom:20px;    
   
 }
 .btn{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
    cursor: pointer;
 }
 .btn .playbtn img{
    width: 25px;

 }
 .btn .playbtn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
 }
 .btn .infobtn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: rgb(55, 55, 55);
    border-radius: 4px;
    cursor: pointer;
    color: white;
 }
 .btn .infobtn img{
    width: 25px;

 }
 